{% extends 'layout/admin.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="content-crea">
            <h2 class="animate__animated animate__zoomInDown mb-3">Create a Post</h2>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_end(form) }}
        </div>
        <a class="btn btn-light" href="{{ path('admin_catpost_list') }}">Back</a>
    </div>
{% endblock %}
{% block footer %}{% endblock %}