{% extends '/layout/user.html.twig' %}

{% block title %}Game Trash{% endblock %}
{% block bodyClass %}main{% endblock %}

{% block body %}
    <div class="container home">

        {% if not app.user %}
            <div class="noConnect">
                <h2 class="welcom animate__animated animate__jackInTheBox">Join Us If You Want Some Fun !!!</h2>
            </div>
        {% endif %}

        {% if app.user %}
            <section class="content overlay my-5">
                {% include './home/swiper.html.twig' %}
                {% include './home/posts.html.twig' %}
                {% include './home/games.html.twig' %}
                {% include './home/ticket.html.twig' %}
            </section>
        {% endif %}
    </div>

{% endblock %}

