<div id="carouselExampleControls" class="carousel slide swiper" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for game in games %}
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="{{ game.pathImg }}" alt="" class="d-block w-100">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>