{% extends 'layout/admin.html.twig' %}

{% block title %}New Forum{% endblock %}

{% block body %}
    <div class="container">
        <div class="content d-flex flex-column my-5">
            <h2 class="welcom animate__animated animate__jackInTheBox">Create new Forum</h2>

            {{ include('admin/admin_forum/_form.html.twig') }}

            <a class="btn btn-outline-light" href="{{ path('admin_forum_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
