{% extends 'layout/admin.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="content-catList mt-5">
            <h2 class="animate__animated animate__zoomInDown mt-5 mb-2">Category Post List</h2>
            <div class="catlPost">

                <div class="catlPost-footer mt-2 mb-4">
                    <a class="catlPost-footer-btn" href="{{ path('admin_create_catpost_list') }}">Add Post Category</a>
                </div>

                {% for cat in catList %}
                    <div class="catPost">
                        <a class="catPost-item" href="#">
                            {{ cat.name }}
                        </a>
                        <a class="catPost-item upd" href="{{ path('admin_update_catpost_list', {'id': cat.id }) }}">
                            Update
                        </a>
                        <a class="catPost-item del" href="{{ path('admin_delete_catpost_list', {'id': cat.id }) }}">
                            Delete
                        </a>
                    </div>

                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
