body{
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
  //background-size: cover;
  //background-repeat: no-repeat;
  color: white;
}