html {
  min-height: 100%;
  font-family: "Cooper Black", sans-serif;
}
body {
  height: 100%;
  overflow-x: hidden;
}
.base{
  background: #757F9A;
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);
  background: linear-gradient(to right, #D7DDE8, #757F9A);
}
.main{
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}