{% extends 'layout/user.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    {% if messages | length == 0 %}
        <p>No Message</p>
        {{ include('message/_form.html.twig') }}
    {% else %}
        {% for message in messages %}
            <p>{{ message.content }}</p>
            <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>
        {% endfor %}
        {{ include('message/_form.html.twig') }}
    {% endif %}

{% endblock %}
