.navbar {
  color: white!important;
  min-height: 5rem;
  width: 100%;
  .logo {
    background-image: linear-gradient(90deg, red, blue);
    -webkit-background-clip: text;
    color: transparent;
  }
  &-user {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 60%;
    &_item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .nav-link {
    background-color: rgba(0, 0, 0, 0.4) !important;
    margin: 0.2rem .5rem;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(.98);
    }
  }
}
.navbar-nav {
  z-index: 999 !important;
}