@use '../media_query' as m;

.content-contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-contact {
    width: 80%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(131, 136, 196, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 4px;
    padding: 2rem;

    @include m.mq(medium) {
      width: 90%;
    }

    .form-floating {
      textarea {
        height: 10rem;
      }
    }

    .form-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background: #fff;
        padding: .4rem 1.5rem;
        border: none;
        border-radius: 2rem;
        transition: .2s ease-in-out;
        font-weight: 500;
        -webkit-font-smoothing: subpixel-antialiased;

        &:hover {
          transform: scale(.98) translateZ(0) perspective(1px);
        }
      }
    }
  }
}
