
.content-crea {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .welcom {
    color: white;
    padding-bottom: 1rem;
  }

  .crealog {
    width: 80%;
    height: fit-content;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;

    > div {
      position: relative;
      margin-bottom: 1rem;

      input:not(input#registration_form_agreeTerms) {
        width: 100%;
        height: 3rem;
        border-radius: .2rem;
        padding: 0 1rem;

        &::placeholder {
          color: black;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
      }
    }

    &-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-btn {
        background: #fff;
        padding: .4rem 1.5rem;
        transition: .2s ease-in-out;
        font-weight: 500;
        -webkit-font-smoothing: subpixel-antialiased;

        &:hover {
          transform: scale(.98) translateZ(0) perspective(1px);

          span {
            transform: scale(1);
          }
        }
      }
    }

  }

  .register-back {
    margin-top: 1rem;
    display: block;
    color: white;
    text-decoration: none;
    text-align: left;
    transition: .2s ease-in-out;
    width: fit-content;

    &:hover {
      color: #766e6e;
      transform: translateX(-1%);
    }
  }
}




