.details {
  margin-top: 8rem;
  .detail {
    width: 100%;
    color: white;
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-device {
      min-width: 5rem;
      max-height: 5rem;
      background-color: rgba(255, 255, 255, 0.37);
      padding: .4rem;
      border-radius: .4rem;
      display: flex;
      justify-content: center;
      &-img {
        width: 5rem;
        height: auto;
      }
    }

    &-img {
      width: 100%;
      display: grid;
      place-items: center;
      img {
        width: 100%;
        height: auto;
      }
    }

  }
}
