.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  .content {
    width: 50vw;
    height: 50vh;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
  }
}