{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
            <div class="container">
                <a class="navbar-brand" href="#">Game Trash</a>
                <h2 class="fs-5 mb-0">{{ app.user ? 'Hello ' ~ app.user.firstName : '' }}</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 animate__animated animate__lightSpeedInRight">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item text-center">
                                <a class="nav-link active" aria-current="page"
                                   href="{{ path('admin_catpost_list') }}">Gestion</a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item text-center">
                                <a class="nav-link active" aria-current="page"
                                   href="">Forum</a>
                            </li>
                        {% endif %}
                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page"
                               href="{{ app.user ? './logout' : './login' }}">{{ app.user ? 'Deconnexion' : 'Connexion' }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}