{% extends 'layout/user.html.twig' %}

{% block title %}New Topic{% endblock %}

{% block body %}
    <div class="container home">

        {{ include('forum/_topicForm.html.twig') }}

        <a class="btn btn-outline-light" href="{{ path('topic', {'id': forum.id}) }}">back to list</a>
    </div>
{% endblock %}